[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"

[packages]
tornado = "*"
pylint = "*"
backports-abc = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"

[requires]
python_version = "2.7"
